<header class="header">
	<div class="container">
	  <a href="/search-offer">
    	<img src="images/logo.png" width=50px height=50px />
		</a>
    <div class="header-right">
      <h1>wasapfood</h1>
    </div>
	</div>
</header>
