<div class="col-md-5 blog-main">
  <div class="container">
    <h1>Welcome to <%= title %></h1>
    <p> This is a free platform for sharing spare food </p>
    <a href="/login" class="btn btn-default">Login</a>
    <a href="/signup" class="btn btn-default">Sign Up</a>
  </div>
</div>
<h3> Where to find spare food? </h3>
<div class="col-sm-5 blog-sidebar">
  <img src="images/start_page.png" style="margin:0px 50px"/>
</div>
