<div class="col-md-5 blog-main">
  <div class="container">
    <h1>Welcome to <%= title %></h1>
    <p> This small app shall help to provide food for<br>
       free to the people who need it. The intent is<br>
       to provide and give spare food away instead<br>
       of wasting it. Therefore the goal is to save<br>
       money, avoid waste and maybe even get to<br>
       know your neighbors. </p>
    <a href="/login" class="btn btn-primary" style="margin:10px 50px">Login</a>
    <a href="/signup" class="btn btn-info" style="margin:10px 50px">Sign Up</a>
  </div>
</div>
<h3> Where to find spare food? </h3>
<div class="col-sm-5 blog-sidebar">
  <img src="images/start_page.png" style="margin:0px 50px"/>
</div>
