<div class="container">
  <div class=left_middle>
  <h1>Log in</h1>
  <form action="/login" method="POST" id="form-container">
    <label for="username">Username</label>
    <input type="text" name="username"></input>
    <br><br>
    <label for="password">Password</label>
    <input type="password" name="password"></input>
    <% if (typeof(message) != "undefined") { %>
      <div class="error-message"><%= message %></div>
      <% } %>
      <br><br>
      <button class="btn btn-primary">Log in</button>
      <br><br>
      <form class="account-message">
        <a href="/signup" class="btn btn-info">Go to Signup</a>
      </form>
    </form>
  </div>
</div>
