<div class="main-container">
<h1>Log in</h1>
<form action="/login" method="POST" id="form-container">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username">
    <br><br>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password">
  </div>
  <br><br>
  <% if (typeof(message) != "undefined") { %>
    <div class="error-message"><%= message %></div>
  <% } %>
  <div>
    <input class="btn btn-primary" type="submit" value="Log In">
  </div>
  <br><br>
<a href="/signup" class="btn btn-info">Signup</a>
<a href="/" class="btn btn-default">Start Page</a>
</form>
</div>
