<div class="main-container">
<h1>I'm offering...</h1>
<form action="/offer" method="POST" id="form-container">
  <label for="product">Product</label>
  <input type="text" name="product" placeholder="Product"></input>
  <br><br>
  <button class="btn btn-success">Offer</button>
  <br><br>
  <a href="/search" class="btn btn-danger">Go to Search</a>
  <a href="/search-offer" class="btn btn-default">MainPage</a>
</form>
</div>
