<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>I'm offering...</h1>
<form action="/offer" method="POST" id="form-container">
  <label for="product">Product</label>
  <input type="text" name="product" placeholder="Product">
  <br><br>
  <button>Offer</button>
  <br><br>
  <a href="/search" class="btn btn-danger">Search</a> 
</form>
</form>
</body>
</html>
