<div class="main-container">
<h1> Search - Offer </h1>
  <a href="/logout" class="btn btn-default">Logout</a>
  <a href="/search" class="btn btn-danger">Search</a>  <a href="/offer" class="btn btn-success">Offer</a>
<br><br>
</ul>
<div id="map"></div>
</div>
