<div class="container">
<h1>I'm searching for...</h1>
<form action="/search" method="POST" id="form-container">
  <label for="product">Product</label>
  <input type="text" name="product" placeholder="Product"></input>
  <br><br>
  <button class="btn btn-danger">Search</button>
  <br><br>
  <a href="offer" class="btn btn-success">Go to Offer</a>
  <a href="/search-offer" class="btn btn-default">MainPage</a>
</form>
</div>
